<style>
    .bg-img {
        background-image: url("static/contactbg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 100%;
    }
</style>
<body>
    <div class="bg-img">
    {% extends 'navbar.html' %}
    {% block content %}
    <div class="container bg-dark text-white mt-5 py-3">
    <section class="mb-4">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Get in touch</h2>
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions, comments, or just want to say hello? Feel free to write me an email.</p>
        <div class="row justify-content-md-center">
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="/sendmail" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Your name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="email" class="form-control">
                                <label for="email" class="">Your email</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Subject</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                <label for="message">Your message</label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center text-md-left">
                    <a class="btn btn-primary">Send Message</a>
                </div> 
            </div>
        </div>
    </section>
    </div>
    </div>
</body>
{% endblock %}